#server-list {
    width: 70%;
    min-width: 300px;
    margin-top: 20px;
}

#server-list expandable-list-item {
    background-color: rgba(71, 183, 32, 0.13);
    border-radius: 6px;
}

/* some durty magic override default expander style */
.server-item /deep/ .expandable-list-item__dropdown {
    flex: 0 !important;
}

.server-item {
    margin-bottom: 12px;
}

.column-name {
    float: left;
    /*width: 40%;*/
}

.column-run-status {
    float: left;
    width: auto;
    margin: 0 2%;
}

.column-run-status-running {
    color: #317a13;
}

.column-run-status-stopped {
    color: #ef4e38;
}

.column-author {
    float: right;
    margin: 0 5%;
}

.description {
    font-size: 70%;
    margin: -24px 0 0 4%;
}

.referenced-item {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
}

.simulation {
    background-color: #518fb7;
}

.presentation {
    background-color: #e6bd35;
}

