<div id="grid" *ngIf="servers">
    <div id="server-list">
        <div class="server-item" *ngFor="let server of servers">
            <expandable-list>
                <expandable-list-item>
                    <div title>
                        <div class="column-run-status">
                            <span *ngIf="server.isRunning" class="column-run-status-running glyphicon glyphicon-play"></span>
                            <span *ngIf="!server.isRunning" class="column-run-status-stopped glyphicon glyphicon-stop"></span>
                        </div>
                        <a class="column-name" [routerLink]="['/servers/' + server.id]">{{ server.name }}</a>
                        <div class="column-author">
                            <span>{{ server.author?.name }}</span>
                        </div>
                    </div>
                
                    <p class="description" item>{{ server.description }}</p>
                    <a class="simulation referenced-item" item *ngFor="let simulation of server.simulations" [routerLink]="['/simulations/' + simulation.id]">{{ simulation.name }}</a>
                    <a class="presentation referenced-item" item *ngFor="let presentation of server.presentations" [routerLink]="['/presentations/' + presentation.id]">{{ presentation.name }}</a>
                </expandable-list-item>
            </expandable-list>
        </div>
    </div>
    
    <new-server-form id="new-server-form" (serverCreated)="onServerCreated($event)"></new-server-form>
</div>

