#server-list {
    min-width: 300px;
}

.server-item {
    background-color: rgba(71, 183, 32, 0.13);
    margin-bottom: 8px;
}


.column-author {
    margin: 0 1rem;
}

.column-run-status {
    margin-right: .5rem;
}

.column-run-status-running {
    color: #317a13;
}

.column-run-status-stopped {
    color: #ef4e38;
}


.description {
    font-size: 70%;
}

.referenced-item {
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 4px;
}

.simulation {
    background-color: rgba(81, 143, 183, 0.69);
}

.presentation {
    background-color: rgba(230, 189, 53, 0.65);
}
