<div class="row no-gutters p-0 p-lg-3 mt-4" *ngIf="servers">
    <div class="col-12 col-lg-6" id="server-list">
        <div class="server-item card" *ngFor="let server of servers; index as i">
            <div class="pl-3 d-flex align-items-center">
                <div class="column-run-status">
                    <span *ngIf="server.isRunning" class="column-run-status-running glyphicon glyphicon-play"></span>
                    <span *ngIf="!server.isRunning" class="column-run-status-stopped glyphicon glyphicon-stop"></span>
                </div>
                <a class="mr-auto column-name h6" [routerLink]="['/servers', server.id]">{{ server.name }}</a>
                <div class="column-author">
                    <span class="h6">{{ server.author?.name }}</span>
                </div>
                <button class="btn bg-transparent border-0 shadow-none" data-toggle="collapse" attr.data-target="#collapsible{{i}}">V</button>
            </div>

            <div class="collapse pb-1" id="collapsible{{i}}">
                <div class="px-4 description" item>{{ server.description }}</div>
                <div class="d-flex flex-column">
                    <a class="p-1 simulation referenced-item" item *ngFor="let simulation of server.simulations" [routerLink]="['/simulations/' + simulation.id]">{{ simulation.name }}</a>
                    <a class="p-1 presentation referenced-item" item *ngFor="let presentation of server.presentations" [routerLink]="['/presentations/' + presentation.id]">{{ presentation.name }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col"></div>

    <div class="col-5 d-none d-lg-block" id="new-server-form">
        <new-server-form (serverCreated)="onServerCreated($event)"></new-server-form>
    </div>
</div>


