#server-list {
    width: 40%;
    min-width: 300px;
}

@media only screen and (max-width: 992px) {
    #server-list {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #new-server-form {
        display: none;
    }
}

#server-list div.server-item {
    background-color: rgba(71, 183, 32, 0.13);
    border-radius: 4px;
}

.server-item {
    margin-bottom: 8px;
}

/*.column-name {
    float: left;
    text-decoration: none;
}*/

/*.column-run-status {
    float: left;
    width: auto;
    margin: 0 2%;
}*/

.column-run-status-running {
    color: #317a13;
}

.column-run-status-stopped {
    color: #ef4e38;
}

.column-author {
    float: right;
    margin: 0 5%;
}

.description {
    font-size: 70%;
}

.referenced-item {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.simulation {
    background-color: rgba(81, 143, 183, 0.69);
}

.presentation {
    background-color: rgba(230, 189, 53, 0.65);
}
