<header id="masterhead">
    <h1 id="heading">Where simulations meet</h1>
</header>

<section class="cards">
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card>
                <img mat-card-image src="/assets/images/training-center.jpg" alt="Training Centers" />
                <mat-card-title>Training Centers</mat-card-title>
                <mat-card-content>Select solutions from different vendors or adjacent areas of
                    simulations accordingly to your needs and budget.
                    Single platform is the guarantee for no configuration distress
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="/assets/images/simulation-vendor.jpg" alt="Simulation Vendors" />
                <mat-card-title>Simulation Vendors</mat-card-title>
                <mat-card-content>Collaborate with other vensors to create solutions of unbeatable scale. Or
                    just distribute your best on market products</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="card">
                <img mat-card-image src="/assets/images/research-lab.jpg" alt="Research Labs" />
                <mat-card-title>Research Labs</mat-card-title>
                <mat-card-content>Proof your latest concepts in realistic environment and make a path to
                    convert it into a demanded product</mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>

<footer class="bg-dark py-3 py-lg-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg-6 text-center">
                <a class="small text-light" href="mailto:saron312@yandex.ru">saron312@yandex.ru</a>
            </div>
            <div class="col-12 col-lg-6 text-center mt-3 mt-lg-0">
                <div class="small text-center mr-auto text-muted">Copyright &copy; 2019 - Open Sim</div>
            </div>
        </div>
    </div>
</footer>