#masterhead {
    background: url("/assets/images/splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* why needed? */
    padding-top: 1rem; 
    height: calc(100vh - 64px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#heading {
    margin-bottom: 12rem;
    text-transform: uppercase;
    font-size: 3rem;
}

@media (min-width: 992px) {
    #heading {
        font-weight: 400;
    }
}

.cards {
    padding-top: 2rem;
    padding-bottom: 2em;
}

@media (min-width: 992px) {
    .cards {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.card {
    /* padding-top: 2em; */
    margin-left: 2rem;
    margin-right: 2rem;
}


