<header class="masterhead">
    <div class="container h-100">
        <div class="h-100 row align-items-end justify-content-center text-center">
            <div class="d-flex-column mb-5">
                <h1 class="display-4 display-lg-2 text-light text-uppercase" id="heading">Where simulations meet</h1>
            </div>
        </div>
    </div>
</header>

<section class="cards page-section bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/images/training-center.jpg" alt="Training Centers"/>
                    <div class="card-body">
                        <h5 class="card-title">Training Centers</h5>
                        <p class="card-text">Select solutions from different vendors or adjacent areas of simulations accordingly to your needs and budget.
                            Single platform is the guarantee for no configuration distress
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/images/simulation-vendor.jpg" alt="Simulation Vendors"/>
                    <div class="card-body">
                        <h5 class="card-title">Simulation Vendors</h5>
                        <p class="card-text">Collaborate with other vensors to create solutions of unbeatable scale. Or just distribute your best on market products</p>
                    </div>
                </div>
            </div>

            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card h-100">
                    <img class="card-img-top" src="/assets/images/research-lab.jpg" alt="Research Labs" />
                    <div class="card-body">
                        <h5 class="card-title">Research Labs</h5>
                        <p class="card-text">Proof your latest concepts in realistic environment and make a path to convert it into a demanded product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark py-3 py-lg-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg-6 text-center">
                <a class="small text-light" href="mailto:saron312@yandex.ru">saron312@yandex.ru</a>
            </div>
            <div class="col-12 col-lg-6 text-center mt-3 mt-lg-0">
                <div class="small text-center mr-auto text-muted">Copyright &copy; 2019 - Open Sim</div>
            </div>
        </div>
    </div>
</footer>


