<header class="masterhead">
    <div class="container h-100">
        <div class="h-100 row align-items-end justify-content-center text-center">
            <div class="d-flex-column mb-5">
                <h1 class="display-4 display-lg-2 text-light text-uppercase" id="heading">Where simulations meet</h1>
            </div>
        </div>
    </div>
</header>

<section class="cards page-section bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/assets/images/training_center.jpg" alt="Training Centers"/>
                    <div class="card-body">
                        <h5 class="card-title">Training Centers</h5>
                        <p class="card-text">
                            Sed dolor ligula, egestas et vehicula nec, semper ac risus. Vestibulum tempus placerat auctor.
                            Ut in tellus condimentum, maximus orci id, semper odio. Quisque porta turpis eu sodales gravida. Vestibulum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/assets/images/training_center.jpg" alt="Simulation Vendors"/>
                    <div class="card-body">
                        <h5 class="card-title">Simulation Vendors</h5>
                        <p class="card-text">
                            Vivamus varius, augue sed malesuada luctus, purus lectus posuere orci, eget dictum est risus non diam.
                            Suspendisse dictum vehicula sem, vel commodo lorem aliquam in. Nunc at metus justo. Etiam.</p>
                    </div>
                </div>
            </div>

            <div class="card-holder col-lg-4 col-sm-12">
                <div class="card">
                    <img class="card-img-top" src="/assets/images/training_center.jpg" alt="Research Labs" />
                    <div class="card-body">
                        <h5 class="card-title">Research Labs</h5>
                        <p class="card-text">
                            Sed dolor ligula, egestas et vehicula nec, semper ac risus. Vestibulum tempus placerat auctor.
                            Ut in tellus condimentum, maximus orci id, semper odio. Quisque porta turpis eu sodales gravida. Vestibulum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark py-3 py-lg-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-lg-6 text-center">
                <a class="small text-light" href="mailto:saron312@yandex.ru">saron312@yandex.ru</a>
            </div>
            <div class="col-12 col-lg-6 text-center mt-3 mt-lg-0">
                <div class="small text-center mr-auto text-muted">Copyright &copy; 2019 - Open Sim</div>
            </div>
        </div>
    </div>
</footer>


