.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
}

.item {
    width: 95%;
    height: 95%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    padding: 5%;
}

.simulation-link {
    text-decoration: none;
}

.simulation {
    background-color: rgba(81, 143, 183, 0.69);
}

.presentation {
    background-color: rgba(230, 189, 53, 0.65);
}

.link {
    text-decoration: none;
}
