<div *ngIf="server">
    <h2>{{ server.name }}</h2>

    <p>{{ server.description }}</p>

    <p>{{ server.author.name }}</p>

    <section class="item-container">
        <figure class="simulation item" *ngFor="let simulation of server.simulations">
            <a class="simulation-link link" routerLink="{{ simulation.id }}">{{ simulation.name }}</a>

            <p>{{ simulation.description }}</p>
        </figure>
    </section>

    <section class="item-container">
        <figure class="presentation item" *ngFor="let presentation of server.presentations">
            <a class="presentation-link link" routerLink="{{ presentation.id }}">{{ presentation.name }}</a>

            <p>{{ presentation.description }}</p>
        </figure>
    </section>
</div>

