<div *ngIf="server">
    <h2 id="name">{{ server.name }}</h2>

    <div id="run-status">
        <span *ngIf="server.isRunning" class="run-status-running glyphicon glyphicon-play"></span>
        <span *ngIf="!server.isRunning" class="run-status-stopped glyphicon glyphicon-stop"></span>
    </div>

    <p id="description">{{ server.description }}</p>

    <p>
        <span>By </span>
        <a href="{{ server._embedded.author._links.self.href }}">{{ server._embedded.author.name }}.</a>
        <span>{{ server._embedded.author.description }} </span>
    </p>

    <div class="divider">
        <span>Simulations</span>
    </div>

    <section class="item-container">
        <figure class="simulation item" *ngFor="let simulation of server._embedded.simulations">
            <a class="link" href="{{ simulation._links.self.href }}">{{ simulation.name }}</a>
            <p>{{ simulation.description }}</p>
        </figure>
    </section>

    <div class="divider">
        <span>Presentations</span>
    </div>

    <section class="item-container">
        <figure class="presentation item" *ngFor="let presentation of server._embedded.presentations">
            <a class="link" href="{{ presentation._links.self.href }}">{{ presentation.name }}</a>

            <p>{{ presentation.description }}</p>
        </figure>
    </section>
</div>

