<div *ngIf="server">
    <h2 id="name">{{ server.name }}</h2>

    <div id="run-status">
        <span *ngIf="server.isRunning" class="run-status-running glyphicon glyphicon-play"></span>
        <span *ngIf="!server.isRunning" class="run-status-stopped glyphicon glyphicon-stop"></span>
    </div>

    <p id="description">{{ server.description }}</p>

    <p>
        <span>By </span>
        <a [routerLink]="['/users/' + server.author.id]">{{ server._embedded.author.name }}.</a>
        <span> {{ server.author.description }} </span>
    </p>

    <div class="divider">
        <span>Simulations</span>
    </div>

    <section class="item-container">
        <figure class="simulation item" *ngFor="let simulation of server.simulations">
            <a class="link" [routerLink]="['/simulations/' + simulation.id]">{{ simulation.name }}</a>
            <p>{{ simulation.description }}</p>
        </figure>
    </section>

    <div class="divider">
        <span>Presentations</span>
    </div>

    <section class="item-container">
        <figure class="presentation item" *ngFor="let presentation of server.presentations">
            <a class="link" [routerLink]="['/presentations/' + presentation.id]">{{ presentation.name }}</a>

            <p>{{ presentation.description }}</p>
        </figure>
    </section>
</div>

