<div *ngIf="simulations">
    <new-simulation-form id="new-simulation"></new-simulation-form>
    
    <section class="item-container">
        <figure class="item" *ngFor="let simulation of simulations">
            <a class="link" [routerLink]="['/simulations/' + simulation.id]">{{ simulation.name }}</a>

            <div class="presentations">
                <expandable-list>
                    <expandable-list-item>
                        <span title>Presentations</span>

                        <div class="negative-margin" item></div>

                        <div class="presentation-item" item *ngFor="let presentation of simulation._embedded.presentations">
                            <a class="presentation-link" [routerLink]="['/presentations/' + presentation.id]">{{ presentation.name }}</a>
                        </div>
                    </expandable-list-item>
                </expandable-list>
            </div>

            <p class="description">{{ simulation.description }}</p>
        </figure>
    </section>
</div>