#new-simulation-form {
    margin: 1rem;
}

@media only screen and (max-width: 992px) {
    #new-simulation-form {
        display: none;
    }
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 1em;
}

.item {
    width: 95%;
    height: 95%;
    display: block;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    padding: 5%;
    background-color: rgba(81, 143, 183, 0.69);
}

/* why 546? */
@media only screen and (max-width: 546px) {
    .item {
        width: 100%;
    }
}

.presentations {
    margin: .5em 0;
}

.presentations expandable-list-item {
    background-color: rgba(230, 189, 53, 0.70);
    border-radius: 4px;
    margin-bottom: 1em;
}

.negative-margin {
    margin-top: -24px;
}

.presentation-item {
    margin: -.75em 0 -.75em 1em;
}

.presentation-link {
    text-decoration: none;
}

