<div *ngIf="presentation">
    <h2 id="name">{{ presentation.name }}</h2>

    <p id="description">{{ presentation.description }}</p>

    <p>
        <span>By </span>
        <a [routerLink]="['/users/' + presentation.author.id]">{{ presentation._embedded.author.name }}.</a>
        <span>{{ presentation.author.description }} </span>
    </p>

    <p class="group-header" *ngIf="presentation.simulations">Referenced By</p>
    <div class="items-container" *ngIf="presentation.simulations">
        <ng-container *ngFor="let simulation of presentation.simulations">
            <a class="item-name" [routerLink]="['/simulations/' + simulation.id]">{{ simulation.name }}</a>
            <div class="item-author">
                <span>{{ simulation._embedded.author.name }}</span>
            </div>
        </ng-container>
    </div>
</div>